### Merging all Contracting Data from 2015 to 2020 in one file ###

In [1]:
#importing dependencies
import pandas as pd

In [3]:
#define the directory path where each original file is located
directory_path = "F:\\FAU PhD\\DISSERTATION\\DATABASES\\DataTESTS\\2023.08.27_Test\\FinalDataMerge\\"

In [4]:
#read each original csv file into a a Pandas DataFrame
df_2015 = pd.read_csv(directory_path + "All_2015to2019_Contracting.csv")
df_2020 = pd.read_csv(directory_path + "New_2020_Contracting.csv")

C:\Users\mjndo\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (1,2,3,4,6,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [5]:
#Merge the data from all the DataFrames based on the same "businessuei" data for every year. 
merged_df = df_2015.merge(df_2020, on='businessuei', how='outer')

In [6]:
# Remove duplicates based on 'businessuei'
merged_df.drop_duplicates(subset='businessuei', keep='first', inplace=True)

In [7]:
#select the columns to keep in the merged DataFrame
selected_columns = [
    'businessuei', 'businessname', 'city', 'state', 'zipcode', 'naics', 'naicsdescription',
    '2015_total_dollars_obligated', 
    '2016_total_dollars_obligated', 
    '2017_total_dollars_obligated', 
    '2018_total_dollars_obligated', 
    '2019_total_dollars_obligated',
    '2020_total_dollars_obligated',
    '2015_total_outlayed_amount_for_overall_award', 
    '2016_total_outlayed_amount_for_overall_award', 
    '2017_total_outlayed_amount_for_overall_award', 
    '2018_total_outlayed_amount_for_overall_award', 
    '2019_total_outlayed_amount_for_overall_award',
    '2020_total_outlayed_amount_for_overall_award',
    '2015_current_total_value_of_award',
    '2016_current_total_value_of_award', 
    '2017_current_total_value_of_award',
    '2018_current_total_value_of_award',
    '2019_current_total_value_of_award',
    '2020_current_total_value_of_award',
    '2015_base_and_all_options_value', 
    '2016_base_and_all_options_value', 
    '2017_base_and_all_options_value',
    '2018_base_and_all_options_value',
    '2019_base_and_all_options_value',
    '2020_base_and_all_options_value',
    '2015_potential_total_value_of_award',
    '2016_potential_total_value_of_award', 
    '2017_potential_total_value_of_award',
    '2018_potential_total_value_of_award',
    '2019_potential_total_value_of_award',
    '2020_potential_total_value_of_award',
    '2015_number_of_offers_received', 
    '2016_number_of_offers_received', 
    '2017_number_of_offers_received', 
    '2018_number_of_offers_received',
    '2019_number_of_offers_received',
    '2020_number_of_offers_received',
    'alaskan_native', 'american_indian', 'indian_tribe', 'native_hawaiian', 'tribally_owned', 'veteran_owned',
    'service_disabled_veteran', 'woman_owned', 'wosb', 'econ_disadv_wosb', 'jointventure_wosb', 
    'jointventure_econ_disadv_wosb', 'minority_owned', 'subcontinent_asian_indian_american', 'asian_pacific_american',
    'black_american', 'hispanic_american', 'native_american', 'other_minority'
]

merged_df = merged_df[selected_columns]
merged_df.head()

,businessuei,businessname,city,state,zipcode,naics,naicsdescription,2015_total_dollars_obligated,2016_total_dollars_obligated,2017_total_dollars_obligated,...,econ_disadv_wosb,jointventure_wosb,jointventure_econ_disadv_wosb,minority_owned,subcontinent_asian_indian_american,asian_pacific_american,black_american,hispanic_american,native_american,other_minority
0,C112Q3D8VPM3,TURF TEQ LLC,HONEY BROOK,PA,193441301,333112.0,LAWN AND GARDEN TRACTOR AND HOME LAWN AND GARD...,6656.16,NaN,NaN,...,f,f,f,f,f,f,f,f,f,f
1,C114HTL5ADV7,CUMMINS INC.,RENTON,WA,980552944,335312.0,MOTOR AND GENERATOR MANUFACTURING,305741.12,49360.52,54820.50,...,f,f,f,f,f,f,f,f,f,f
5,C114QV5R7YX8,"AMERIQUAL GROUP, LLC",EVANSVILLE,IN,477258588,311999.0,ALL OTHER MISCELLANEOUS FOOD MANUFACTURING,4190846.34,4821747.50,16299419.13,...,f,f,f,f,f,f,f,f,f,f
12,C115HRKETCN8,CONTEXT PARTNERS INC.,PORTLAND,OR,972115847,541613.0,MARKETING CONSULTING SERVICES,0.00,0.00,NaN,...,f,f,f,f,f,f,f,f,f,f
13,C115J41MGLP5,"CHANNEL TECHNOLOGIES GROUP, LLC",SANTA BARBARA,CA,93111,334412.0,BARE PRINTED CIRCUIT BOARD MANUFACTURING,0.00,0.00,0.00,...,f,f,f,f,f,f,f,f,f,f

In [8]:
#check the number of rows and columns in the newly merged DataFrame with all contracting data from 2015 to 2022
merged_df.shape

(278001, 62)

In [9]:
unique_rows_based_on_multiple_columns = len(merged_df.drop_duplicates(subset=['businessuei', 'businessname']))
print("Number of unique rows based on multiple columns:", unique_rows_based_on_multiple_columns)

Number of unique rows based on multiple columns: 278001

In [10]:
#save the merged DataFrame to a new csv file in the same directory
merged_df.to_csv(directory_path + "All_2015to2020_Contracting.csv", index=False)