##Aggregating 2015 USASpending.gov data for file 1 of 5##
####Determine which columns to keep and aggregate the ones with amounts####

In [1]:
#dependencies
import pandas as pd
import os

In [2]:
#establishing source file folder and where new file will go
source_folder = r'F:\FAU PhD\DISSERTATION\DATABASES\DataTESTS\2023.08.27_Test'

# File name
file_name = "FY2015_All_Contracts_Full_20230608_1.csv"
file_path = os.path.join(source_folder, file_name)

In [3]:
# Columns to keep
columns_to_keep = [
    'total_dollars_obligated',
    'total_outlayed_amount_for_overall_award',
    'current_total_value_of_award',
    'base_and_all_options_value',
    'potential_total_value_of_award',
    'number_of_offers_received',
    'recipient_uei',
    'recipient_name',
    'recipient_city_name',
    'recipient_state_code',
    'recipient_zip_4_code',
    'naics_code',
    'naics_description',
    'alaskan_native_corporation_owned_firm',
    'american_indian_owned_business',
    'indian_tribe_federally_recognized',
    'native_hawaiian_organization_owned_firm',
    'tribally_owned_firm',
    'veteran_owned_business',
    'service_disabled_veteran_owned_business',
    'woman_owned_business',
    'women_owned_small_business',
    'economically_disadvantaged_women_owned_small_business',
    'joint_venture_women_owned_small_business',
    'joint_venture_economic_disadvantaged_women_owned_small_bus',
    'minority_owned_business',
    'subcontinent_asian_asian_indian_american_owned_business',
    'asian_pacific_american_owned_business',
    'black_american_owned_business',
    'hispanic_american_owned_business',
    'native_american_owned_business',
    'other_minority_owned_business',
    'usaspending_permalink'
]

In [4]:
# Columns to aggregate (sum)
columns_to_aggregate = [
    'total_dollars_obligated',
    'total_outlayed_amount_for_overall_award',
    'current_total_value_of_award',
    'base_and_all_options_value',
    'potential_total_value_of_award',
    'number_of_offers_received'
]

In [5]:
# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Keep only the columns specified
df_filtered = df[columns_to_keep]

# Aggregate data
df_aggregated = df_filtered.groupby('recipient_uei').sum(numeric_only=True).reset_index()
df_aggregated.head()

C:\Users\mjndo\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (27,70,71,80,113,133,163) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,recipient_uei,total_dollars_obligated,total_outlayed_amount_for_overall_award,current_total_value_of_award,base_and_all_options_value,potential_total_value_of_award,number_of_offers_received,naics_code
0,C112Q3D8VPM3,6656.16,0.0,6656.16,6656.16,6656.16,2.0,333112.0
1,C114HTL5ADV7,305741.12,0.0,305741.12,306855.32,305741.12,7.0,2147857.0
2,C114QV5R7YX8,4190846.34,0.0,4190846.34,2007836.09,4190846.34,4.0,623998.0
3,C115HRKETCN8,0.00,0.0,0.00,0.00,500000.00,999.0,541613.0
4,C115J41MGLP5,0.00,0.0,0.00,0.00,0.00,1.0,334412.0

In [7]:
df_aggregated.shape

(86760, 8)

In [8]:
# Rename columns
df_aggregated.rename(columns={
    'total_dollars_obligated': '2015_total_dollars_obligated',
    'total_outlayed_amount_for_overall_award': '2015_total_outlayed_amount_for_overall_award',
    'current_total_value_of_award': '2015_current_total_value_of_award',
    'base_and_all_options_value': '2015_base_and_all_options_value',
    'potential_total_value_of_award': '2015_potential_total_value_of_award',
    'number_of_offers_received': '2015_number_of_offers_received'
}, inplace=True)

In [9]:
# Save the final DataFrame to CSV
output_file_path = os.path.join(source_folder, '2015_1_Contracting.csv')
df_aggregated.to_csv(output_file_path, index=False)

print(f"Aggregated file saved at {output_file_path}")

Aggregated file saved at F:\FAU PhD\DISSERTATION\DATABASES\DataTESTS\2023.08.27_Test\2015_1_Contracting.csv